.cart-dropdown {
  flex-direction: column;
  height: 300px;
  border: 2px solid black;
  border-radius: 5px;
  width: 200px;
  right: 20px;
  display: flex;
  z-index: 9;
  padding: 20px;
  position: absolute;
  background: white;
  top: 80px;
  box-shadow: 7px 8px 9px #0000004d;
}
.cart-items {
  height: 200px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.cart-item {
  display: flex;
  margin: 10px 0px;
}

.image {
  width: 50%;
  background: aqua;
  margin-right: 15px;
}

.initial-message {
  color: lightgray;
  font-size: 20px;
  text-align: center;
  margin: auto auto;
}

.empty-cart-message {
  display: flex;
  text-align: center;
  margin: auto auto;
}

@media (min-width: 100px) and (max-width: 500px) {
  .cart-dropdown {
    top: 138px;
    width: 250px;
  }
}
