.checkout-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header_label{

  font-size: 90px;
}


.checkout-header {
  margin: 10px 60px;
  padding: 40px;
  display: grid;
  width: 50%;
  font-size: 13px;
  text-align: center;
  border-bottom: 5px solid #d3d3d342;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 10px;
}
.checkout-items {

  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.checkout-total{
  font-size: 50px;
  margin: 0px 0px 50px 0px;

}

@media (min-width: 100px) and (max-width: 500px) {
  .checkout-header {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 20px;
    width: 100%;
    font-size: 13px;
}


}
