.footer_wrapper {
  height: 400px;
  width: 100%;
  background: rgb(255, 255, 255);
  border: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column_one {
  height: 350px;
  width: 250px;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.column_two {
    height: 350px;
    width: 250px;
    background: rgb(255, 255, 255);
}

  .column_three {
    height: 350px;
    width: 250px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .column_four {
    height: 350px;
    width: 250px;
    background: rgb(255, 255, 255);
   
  }
  .column_five {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: rgb(0, 0, 0);
  }

  .column_one > div div,.column_three > div div{
    margin-bottom: 10px;
  }