@import url('https://fonts.googleapis.com/css?family=Inter:400,700,900&display=swap');


*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}